*{
	margin: 0;
	padding: 0;
	font-family: 'Manrope', sans-serif;
}

a{
	text-decoration: none;
	color: #3BBA9C;
}

body{
	background: #2E3047;
}

/*TYPE & COLORS*/

.sv-color-white{
	color: white;
}

.sv-color-red{
	color: #a03c3c;
}

.sv-color-mint{
	color: #3BBA9C;
}

.sv-color-dark{
	color: #2E3047;
}

.sv-color-medium{
	color: #3C3F58;
}

.sv-color-light{
	color: #43455C;
}

.sv-color-lightest{
	color: #707793;
}

.sv-text-bold{
	font-weight: bold;
}

.sv-text-light{
	font-weight: lighter;
}

.sv-line-height{
	line-height: 3em;
}

.quote{
	font-style: italic;
	color: #707793;
    line-height: 6em;
    font-weight: lighter;
}

/*HEADER*/

.row{
	display: flex;
	justify-content: center;
}

nav{
    background-image: url(../public/img/home/header.jpg);
    background-attachment: fixed;
    height: 640px;
}

nav h2{
	font-size: 4em;
}

nav ul li{
	display: inline-block;
	cursor: pointer;
}

nav ul a, nav ul li{
	height: 1.5em;
}

/*MAIN*/

.mainwrapper{
	max-width: 80%;
	margin: 0 auto;
	text-align: center;
}

.sv-container{
	background: #3C3F58;
	border-radius: 2em;
	width: 100%;
	min-height: fit-content;
	margin: 2.5em auto;
	overflow:hidden;
	position: relative;
}

.sv-button{
	width: 200px;
    height: 50px;
    background: #3BBA9C;
    color: #3C3F58;
    border-radius: 1em;
    border: 0px;
}
.sv-button-reservation{
	width: 150px;
    height: 50px;
    background: #3BBA9C;
    color: #3C3F58;
    border-radius: 1em;
    border: 0px;
}

.sv-card{
	display: inline-block;
	width: 225px;
	height: fit-content;
	border-radius: 1em;
	background: #3C3F58;
}

.sv-input{
    width: 80%;
    height: 2em;
    border-radius: 1em;
    text-align: center;
    margin: 0 auto;
    border: 0;
}

.sv-small{
	height: 100px;
}

.clippath-right{
	clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
}

.clippath-left{
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 30% 100%);
}	

.faded{
	opacity: 0.75;
}

.circle{
	position: absolute;
	top: 1em;
	left: 1em;
	width: 50px;
	height: 50px;
	border-radius: 10em;
	background-color: #3c3f58d4;
}

.closemodal{
	cursor: pointer;
}

.back{
    color: #3BBA9C;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: bold;
}

.table td, .table th{
	border-top: none;
}

.error{
	width: 80%;
    height: 50px;
    text-align: center;
    color: white;
    background: #a03c3c;
    margin: 0 auto;
    border-radius: 2em;
    line-height: 3em;
}

.instrumentimg{
	width: 75px;
	height: 75px;
}

.profile-container i {
	font-size: 5em;
}

/*FOOTER*/

footer{
	background: #3C3F58;
	color: #3BBA9C;
	text-align: center;
	height: 2.5em;
	line-height: 2.5em;
}


/*ANIMATIONS*/

.spin{
	animation:spin 4s linear infinite;
}

@keyframes spin { 
	100% { 
		-webkit-transform: rotate(360deg); 
		transform:rotate(360deg); 
	} 
}






















